body, html {
    height: 100%;
    font-family: 'Syne Mono', monospace;
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
}

.cont {
    background-image: url('../img/submarine.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.info {
    margin-top: 30px;
    margin-left: 200px;
}

.box {
    background-color: black;
    opacity: 30%;
    width: 420px;
    height: 180px;
}

.text {
    margin-top: 20px;
    margin-left: 40px;
}

table.field {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.field td {
    border: 1px solid black;
    width: 2em;
    height: 2em;
    text-align: center;
}

table.field td.SHIP {
    background-color: black;
}

table.field td.MISS {
    background-color: aqua;
}

table.field td.HIT {
    background-color: red;
}