body, html {
    height: 100%;
    font-family: 'Syne Mono', monospace;
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
}

.cont {
    background-image: url('img/submarine.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.box {
    background-color: black;
    opacity: 30%;
    width: 420px;
    height: 180px;
    margin-top: 40px;
    margin-left: 200px;
}

.info {
    margin-top: 50px;
    margin-left: 240px;
}

